/* line 2, base/_base.scss */
body {
  font-size: 16px;
  line-height: 1.75;
  font-family: "Open Sans", sans-serif;
  color: #737373;
}

/* line 9, base/_base.scss */
h2 {
  font-size: 20px;
  line-height: 1.25;
  color: #000;
}
